@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Balsamiq-main;
  src: url("Fonts/BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family: popinas-main;
  src: url("Fonts/Poppins-Regular.ttf");
}

.main-font {
  font : {
    family: Balsamiq-main;
  }
}

.popinas-main {
  font : {
    family: popinas-main !important;
  }
}

.main-container__custom {
  position: relative;
  height: 80vh;
  .custom__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .header__custom {
    .logo__custom {
      img {
        width: 50px;
        height: 50px;
      }
      span {
        color: #fff;
        font : {
          size: 20px;
        }
      }
    }
    .right__items {
      .items__custom {
        font-family: "Balsamiq-main";
      }
      img {
        width: 24px;
        height: 24px;
      }
      .items__custom {
        width: 100%;

        .links {
          color: #fff;
        }
      }
    }
  }
  .bottom__container {
    height: max-content;
    .left {
      h1 {
        font-family: "Balsamiq-main";
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
      }
      p {
        font-family: "Balsamiq-main";
      }
      button {
        border-radius: 5px;
      }
    }
    .right {
      position: relative;
      bottom: 5%;
    }
  }
}

.trustedUsersContainer {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .main__custom {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.services__custom {
  .card__item {
    height: 10rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.aboutSEO__Custom {
  height: 80vh;
  .custom__innerItems {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.status__custom {
  height: 50vh;
  .ourStatusInner__custom {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

.whyChooseUs__Custom {
  .innerContainer__custom {
    .left {
      ul {
        li::marker {
          color: #cb0f4c;
        }
      }
    }
  }
  .cart__custom {
    background: #ffffff;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.08);
  }
}

.slideCard {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -3;
  }
  .bottom {
    img {
      position: static !important;
      left: none;
      width: 1rem !important;
      height: 1rem !important;
    }
  }
}
.blog__mainContainer__custom {
  .swiper-pagination {
    bottom: -50px;
    span {
      width: 1rem;
      height: 1rem;
      display: inline flow-root list-item;
      &::marker {
        display: inline flow-root list-item !important;
        width: 12px !important;
        height: 12px !important;
        background: #c4c4c4 !important;
        color: #c4c4c4;
      }
    }
    span.swiper-pagination-bullet-active {
      &::marker {
        display: inline flow-root list-item !important;
        width: 16px !important ;
        height: 16px !important;
        background-color: red !important;
        color: red;
      }
    }
  }
}
.footer {
  height: 80vh;
  .orderHelper {
    position: absolute;
    top: -17%;
    border-radius: 5px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 99;
  }
  .top {
    background-color: #191234;
    #leftSectionTag__P {
      line-height: 47.52px;
    }
  }
}
